/node_modules
/public/hot
/public/storage
/storage/*.key
/resources/sass/theme
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.env

clear_characters.sql


/composer.phar
*.cache

