<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Souls Between Chest Roller</title>
	<link rel="icon" href="http://i.imgur.com/mDXvBKC.png">

    <!-- Custom CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="roller.css" rel="stylesheet">
</head>

<body>
<a id="ddmenuLink" href="NavBar.html">Menu</a>
<div id="title" align="center"><h1>Loot Chest Roller</h1></div>

<div class="container1" align="center">
<form id="chesttype">
 <select id="chest" name="chest" onchange="clearForms()">
    <option value="fishing">Fishing Chest</option>
    <option value="foraging">Foraging Chest</option>
    <option value="hunting">Hunting Chest</option>
    <option value="prem">Premium Chest</option>
    <option value="myst">Aether Bag</option>
    <option value="nest">Nesting Bag</option>
    <option value="design">Design Bag</option>
    <option value="arena">Arena Bag</option>
  </select>
</form>
	<br>


<div id="buttoncontainer" align="center">
	<button class="button" onclick="roll()">Roll Chest</button>
	<button class="button" onclick="clearForms()">Clear</button>
</div>


<div id="output" align="left">
			<div id="result"></div>
</div>

<div id="cred">
	Copyright Souls Between 2019 All Rights Reserved.
</div>
</div>

</body>
	<!-- Custom JS -->
	<script src="chestroller.js"></script>
	<script src="js/ddmenu.js" type="text/javascript"></script>
    <script src="js/jquery.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="js/bootstrap.js"></script>
</html>
