<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/Bootstrap/Bootstrap_CSS/bootstrap.min.css">
    <link href="/Featherlight/featherlight.min.css" type="text/css" rel="stylesheet" />

	<link rel="stylesheet" href="stylesheet.css?v=3.0">

	<title>Breeding Roller - Souls-Between</title>
</head>

<body onload="initialize()">

<table id="rollerTitle">
	<tr>
		<div id="title"><br><h1>Souls-Between Breeding Roller</h1></div>
	</tr>
</table>
<table id="mainContent">
	<form id="rollerForm" autocomplete="off">
	<tr>
	<!-- SIRE -->
	<td class="entryBox sire">
		<h2>Sire</h2>
		<div id="sireRowBottom">
			<select id="sireRank" class="cellElement">
				<option value="1">Fledgling</option>
				<option value="2">Primal</option>
				<option value="3">Ancient</option>
				<option value="4">Primordial</option>
			</select>
			<select id="sireTemper" onchange="updateTempers()" class="cellElement">
				<option value="1">Timid</option>
				<option value="2">Agressive</option>
				<option value="3">Calm</option>
				<option value="4">Sinister</option>
			</select>
			<select id="sireBreed" onchange="updateTraits('sire')" class="cellElement">
				<option disabled selected value="0">Breed</option>
				<option value="1">Stalker Wyvern</option>
				<option value="2">Ravager Wyvern</option>
				<option value="3">Warden Dragon</option>
				<option value="4">Greater Emperor</option>
				<option value="5">Sapiere Dragon</option>

			</select>
			<select id="sireBuild" class="cellElement">
				<option value="1">Common Coat</option>
                                <option value="2">Plated</option>
				<option value="3">Feathered</option>
                                <option value="4">Angora</option>
				<option value="5">Imperial</option>
			</select>
		</div>
		
		<div id="sireRowMiddle">
			<select id="sireEyes" class="cellElement">
				<option value="1">Common Eyes</option>
				<option value="2">Uncmn Eyes</option>
				<option value="3">Rare Eyes</option>
				<option value="4">Very Rare Eyes</option>
			</select>
			<select id="sireHorns" class="cellElement">
				<option value="1">Common Horns</option>
				<option value="2">Uncmn Horns</option>
				<option value="3">Rare Horns</option>
				<option value="4">Very Rare Horns</option>
			</select>
			<!-- The following two are only for Ravagers -->
			<select id="sireEars" class="cellElement">
				<option value="1">Common Ears</option>
				<option value="2">Uncmn Ears</option>
				<option value="3">Rare Ears</option>
			</select>
			<select id="sireTail" class="cellElement">
				<option value="1">Common Tail</option>
				<option value="2">Uncmn Tail</option>
				<option value="3">Rare Tail</option>
			</select>
		</div>
		
		<div id="sireRowBottom">
			<select id="sireBreath" class="cellElement">
				<option value="1">No Breath</option>
				<option value="2">Fire</option>
				<option value="3">Ice</option>
				<option value="4">Shadow</option>
				<option value="5">Lightning</option>
				<option value="6">Radiation</option>
			    <option value="7">Wind</option>
				<option value="8">Poison</option>
				<option value="9">Luster</option>
			</select>
			<select id="sireSkill" class="cellElement">
				<option value="1">No Skill</option>
				<option value="2">Hoarder</option>
				<option value="3">Friendly Giant</option>
				<option value="4">Steadfast</option>
				<option value="5">Swift Feet</option>
				<option value="6">Aether Walker</option>
				<option value="7">Inner Fire</option>
				<option value="8">Haunting Roar</option>
				<option value="9">Healing Aura</option>
				<option value="10">Adept</option>

			</select>
		</div>
		
		<!-- Textboxes -->
		<div class="leftAligned">
			<br><a>Genotype</a><br>
			<input type="text" id="sireGenoType" class="cellElement" placeholder="Sire geno" autocomplete="off"><br>

			<a>Echo</a><br>
			<textarea rows="1" id="sireGenoEcho" class="cellElement" readonly spellcheck="false"></textarea><br>
		</div>
	</td>
	
	<!-- DAM -->
	<td class="entryBox dam">
		<h2>Dam</h2>
		<div id="damRowTop">
			<select id="damRank" class="cellElement">
					<option value="1">Fledgling</option>
				<option value="2">Primal</option>
				<option value="3">Ancient</option>
				<option value="4">Primordial</option>
			</select>
			<select id="damTemper" onchange="updateTempers()" class="cellElement">
				<option value="1">Timid</option>
				<option value="2">Agressive</option>
				<option value="3">Calm</option>
				<option value="4">Sinister</option>
			</select>
			<select id="damBreed" onchange="updateTraits('dam')" class="cellElement">
				<option disabled selected value="0">Breed</option>
				<option value="1">Stalker Wyvern</option>
				<option value="2">Ravager Wyvern</option>
				<option value="3">Warden Dragon</option>
				<option value="4">Greater Emperor</option>
				<option value="5">Sapiere Dragon</option>

			</select>
			<select id="damBuild" class="cellElement">
				<option value="1">Common Coat</option>
                <option value="2">Plated</option>
				<option value="3">Feathered</option>
                <option value="4">Angora</option>
				<option value="5">Imperial</option>
			</select>
		</div>
		<div id="damRowMiddle">
			<select id="damEyes" class="cellElement">
				<option value="1">Common Eyes</option>
				<option value="2">Uncmn Eyes</option>
				<option value="3">Rare Eyes</option>
				<option value="4">Very Rare Eyes</option>
			</select>
			<select id="damHorns" class="cellElement">
					<option value="1">Common Horns</option>
				<option value="2">Uncmn Horns</option>
				<option value="3">Rare Horns</option>
				<option value="4">Very Rare Horns</option>
			</select>
			<!-- The following two are only for Ravagers -->
			<select id="damEars" class="cellElement">
					<option value="1">Common Ears</option>
				<option value="2">Uncmn Ears</option>
				<option value="3">Rare Ears</option>
			</select>
			<select id="damTail" class="cellElement">
			<option value="1">Common Tail</option>
				<option value="2">Uncmn Tail</option>
				<option value="3">Rare Tail</option>
			</select>
		</div>
		
		<div id="damRowBottom">
			<select id="damBreath" class="cellElement">
				<option value="1">No Breath</option>
				<option value="2">Fire</option>
				<option value="3">Ice</option>
				<option value="4">Shadow</option>
				<option value="5">Lightning</option>
				<option value="6">Radiation</option>
				<option value="7">Wind</option>
				<option value="8">Poison</option>
				<option value="9">Luster</option>
			</select>
			<select id="damSkill" class="cellElement">
				<option value="1">No Skill</option>
				<option value="2">Hoarder</option>
				<option value="3">Friendly Giant</option>
				<option value="4">Steadfast</option>
				<option value="5">Swift Feet</option>
				<option value="6">Aether Walker</option>
				<option value="7">Inner Fire</option>
				<option value="8">Haunting Roar</option>
				<option value="9">Healing Aura</option>
				<option value="10">Adept</option>

			</select>
		</div>
		
		<!-- Textboxes -->
		<div class="leftAligned">
			<br><a>Genotype</a><br>
			<input type="text" id="damGenoType" class="cellElement" placeholder="Dam geno" autocomplete="off"><br>
			
			<a>Echo</a><br>
			<textarea id="damGenoEcho" class="cellElement" rows="1" readonly spellcheck="false"></textarea><br>
		</div>
	</td>
	
	<!-- MODIFIERS -->
	<td class="entryBox modifiers">
		<h2>Modifiers</h2>
		<div width="100%">
			<span style="white-space: nowrap;">
				<label class="radioLabel"><input type="checkbox" onchange="updateModifiers()" name="modifierSelector" value="DH" id="DH">Dragon's heart</label>
				<label class="radioLabel"><input type="checkbox" onchange="updateModifiers()" name="modifierSelector" value="DT" id="DT">Dragon's talon</label>
				<label class="radioLabel"><input type="checkbox" onchange="updateModifiers()" name="modifierSelector" value="DE" id="DE">Dragon's eye</label>
			</span>
			<br>
			<span style="white-space: nowrap;">
				<label class="radioLabel"><input type="checkbox" onchange="updateModifiers()" name="modifierSelector" value="FP" id="FP">Fertility potion</label>
				<label class="radioLabel"><input type="checkbox" onchange="updateModifiers()" name="modifierSelector" value="RB" id="RB">Radiance bond</label>
				<label class="radioLabel"><input type="checkbox" onchange="updateModifiers()" name="modifierSelector" value="BB" id="BB">Breath Potion</label>
			</span>
			<br>
			<span style="white-space: nowrap;">
				<label class="radioLabel"><input type="checkbox" onchange="updateModifiers()" name="modifierSelector" value="SB" id="SB">Skill Charm</label>
				<label class="radioLabel"><input type="checkbox" onchange="updateModifiers()" name="modifierSelector" value="GP" id="GP">Gender potion</label>
				<label class="radioLabel"><input type="checkbox" onchange="updateModifiers()" name="modifierSelector" value="AT" id="AT">Aether token</label>
			</span>
			<br>
			<span style="white-space: nowrap;">
				<label class="radioLabel"><input type="checkbox" onchange="updateModifiers()" name="modifierSelector" value="BF" id="BF">Temper Potion</label>
				<label class="radioLabel"><input type="checkbox" onchange="updateModifiers()" name="modifierSelector" value="BU" id="BU">Bottle of umbra</label>
				<label class="radioLabel"><input type="checkbox" onchange="updateModifiers()" name="modifierSelector" value="BI" id="BI">Bottle of ivory</label>
			</span>
			<br>
			<span style="white-space: nowrap;">
				<label class="radioLabel"><input type="checkbox" onchange="updateModifiers()" name="modifierSelector" value="BV" id="BV">Bottle of vanta</label>
                               	<label class="radioLabel"><input type="checkbox" onchange="updateModifiers()" name="modifierSelector" value="BH" id="BH">Bottle of Haze</label>
				<label class="radioLabel"><input type="checkbox" onchange="updateModifiers()" name="modifierSelector" value="DI" id="DI">Dragon's instinct</label>
			</span>
			
			<br><label class="wideCheckbox"><input type="checkbox" id="inbreeding" name="inbreeding" value="inbreeding">Inbreeding present?</label>
			<br><label class="wideCheckbox"><input type="checkbox" id="starter" name="starter" value="starter">Starter Parent, Soul Bond, or Serpent</label>
			<div id="genderSelectionRadios">
				<label class="radioLabel"><input type="radio" name="genderSelector" value="1" id="maleSelected" checked>Male</label>
				<label class="radioLabel"><input type="radio" name="genderSelector" value="2" id="femaleSelected">Female</label>
				<br>
			</div>
			<div id="breedSelectionRadios">
				<label class="radioLabel"><input type="radio" name="breedSelector" value="1" id="stalkerSelected" checked>Stalker</label>
				<label class="radioLabel"><input type="radio" name="breedSelector" value="2" id="ravagerSelected">Ravager</label>
				<br>
				<label class="radioLabel"><input type="radio" name="breedSelector" value="3" id="wardenSelected">Warden</label>
				<label class="radioLabel"><input type="radio" name="breedSelector" value="3" id="gempSelected">Greater Emperor</label>
				<label class="radioLabel"><input type="radio" name="breedSelector" value="4" id="sapiSelected">Sapiere</label>
				<br>
			</div>
			<div id="temperSelectionRadios">
				<label class="radioLabel"><input type="radio" name="temperSelector" value="1" id="timidSelected" checked>Timid</label>
				<label class="radioLabel"><input type="radio" name="temperSelector" value="2" id="aggressiveSelected">Aggressive</label>
				<br>
				<label class="radioLabel" id="calmLabel"><input type="radio" name="temperSelector" value="3" id="calmSelected">Calm</label>
				<label class="radioLabel" id="sinisterLabel"><input type="radio" name="temperSelector" value="4" id="sinisterSelected">Sinister</label>
				<br>
			</div>
			<div id="colorSelectionMenu">
				<select id="colorMod" class="cellElement">
					<option disabled selected value="0">Color Modifier</option>
					<option disabled value="1">Common</option>
					<option value="flaxen">Flaxen</option>
					<option value="greying">Greying</option>
					<option value="rose">Rose</option>
					<option disabled value="2">Uncommon</option>
					<option value="azure">Azure</option>
					<option value="crimson">Crimson</option>
					<option disabled value="3">Rare</option>
					<option value="jade">Jade</option>
					<option disabled value="4">Very Rare</option>
					<option value="lilac">Lilac</option>
				</select>
			</div>
		</div>
	</td>
	</tr>
	</form>
</table>

<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
    <button type="button" class="btn btn-secondary">
<a href="COMMON: Slit, Round, Beaded -- UNCOMMON: Pale, Pupiless, Crescent -- RARE: Glowing, Goat, Cuttlefish -- VERY RARE: Solar, Eclipse, Omen, Aether"data-featherlight="text"> Eye Traits</a></button>
<button type="button" class="btn btn-secondary"> <a href="COMMON: Hornless, Slender, Nub, Bull, Rhino, Ram, Segmented, Parasaur -- UNCOMMON: Ibex, Ridge, Devil, Curled, Twisted, Ceratopsian -- RARE: Crowned, Quillin, Stag, Royal, Ascended -- VERY RARE: Eland, Unicorn, Fallow, Beastly, Aether" data-featherlight="text">  Horn Traits</a></button>
    <button type="button" class="btn btn-secondary"> <a href="-- Ravager Only -- EARS-- COMMON: Earless, Fox, Hyena, Wild, Equine -- UNCOMMON: Dragon, Feathered, Fluffy, Button -- RARE: Tapir, Clipped, Drop Fold, Silky -- TAILS -- COMMON: Slender, Plume, Stub, Curl -- UNCOMMON: Lemur, Whip, Split, Wild, Fan -- RARE: Peacock, Kitsune, Drape, Plated, Dragon
" data-featherlight="text">Ravager Only Traits</a></button>
    
    <button type="button" class="btn btn-secondary"> <a href="If your dragon has Radiant, removed the color modifier geno from it in the geno field (so not nRad-Azure, just nRad). If you have any of the following markings they have been changed or removed: Fading and Scorching are now Stained (if you had both you have dominant). Ray is now part of Sable (if you had both you have dominant Sable). Mist is now part of Smoke (if you had both you have dominant Smoke). Somatic is now called Brindled and behaves differently from how it used to.
" data-featherlight="text">Important Notes</a></button></div>
<table id="formButtons">
	<td>
		<button onclick="roll()">Roll!</button>
		<button onclick="clearForms()">Reset forms</button>
	</td>
</table>
<table id="nest">
	<td>
		<div id="nestTextArea"></div>
	</td>
</table>
	
<table id="footer">
	<td id="footerElement"> v1.3.0 - Armando Montanez<br>
        v4.0.1 - Maintained by Cryptid-Horror <br>
        <a href="/NestingOdds.html">Nesting Odds</a><br>
	<a href="/home.html"><img src="/images/backarrow2.png" width="75px" class="backarrow"></a>
</table>

<script src="PublicNestingRoller_v4.0.js"></script>
    <script src="/js/jquery-3.5.0.js"></script>
    <script src="/Bootstrap/Bootstrap_JS/bootstrap.bundle.min.js"></script>
<script src="/Featherlight/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
</body>