<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Souls Between Activity Roller</title>
		<link rel="icon" href="http://i.imgur.com/mDXvBKC.png">

    <!-- Custom CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="activitycss.css" rel="stylesheet">
</head>

<body>
	<a id="ddmenuLink" href="NavBar.html">Menu</a>
<div id="title" align="center"><h1>Activity Roller</h1></div>


	<form id="activitytype" align="center">
		<select id="activity" name="activity" align="center">
			<option value="hunting">Hunting</option>
			<option value="fishing">Fishing</option>
			<option value="foraging">Foraging</option>
		</select>
	</form>
	
	<div id="container1" align="center">
		<table>
			<td>
				<form id=playerinfo" align="left">
					<b>Import URL</b>
	<input type="text" id="dURL" placeholder="Dragon's URL here">
		<br>
					<b>Rank</b>
			<select id="rank" name="rank">
				<option value="beginner">Beginner</option>
				<option value="stablehand">Stable-Hand</option>
				<option value="tamer">Dragon Tamer</option>
				<option value="master">Dragon Master</option>
				</select>
		<br>
					<b>Zone</b>
			<select id="zone" name="zone">
				<option value="radiant">Radiant Empire</option>
				<option value="gloom">Gloom Empire</option>
				<option value="frigid">Frigid Empire</option>
				<option value="shimmering">Shimmering Isles</option>
				<option value="scorched">Scorched Empire</option>
				<option value="aether">The Aether</option>
				</select><br>
				<b>Temperament
					<select id="temp" name="temp">
						<option value="neither">Other</option>
						<option value="timid">Timid</option>
						<option value="aggressive">Aggressive</option>
					</select>
				
		
	</form>
			</td>
			<td>
			<form id="modifiers" align="right">
			<table>
		<tr>
			<td>Activity-Container</td>
			<td><input type="radio" name="barrel" id="barrely"><label for="barrely">Yes</label></td>
			<td><input type="radio" name="barrel" id="barreln" checked><label for="barreln">No</label></td>
		</tr>
		<tr>
			<td>Hoarder-Skill</td>
			<td><input type="radio" name="hoarder" id="hoardery"><label for="hoardery">Yes</label></td>
			<td><input type="radio" name="hoarder" id="hoardern" checked><label for="hoardern">No</label></td>
		</tr>
		<tr>
			<td>Activity-Charm</td>
			<td><input type="radio" name="charm" id="charmy"><label for="charmy">Yes</label></td>
			<td><input type="radio" name="charm" id="charmn" checked><label for="charmn">No</label></td>
		</tr>
		<tr>
			<td>Soul-Linked</td>
			<td><input type="radio" name="soul" id="souly"><label for="souly">Yes</label></td>
			<td><input type="radio" name="soul" id="souln" checked><label for="souln">No</label></td>
		</tr>
		<tr>
			<td>No-fail</td>
			<td><input type="radio" name="nofail" id="nofaily"><label for="nofaily">Yes</label></td>
			<td><input type="radio" name="nofail" id="nofailn" checked><label for="nofailn">No</label></td>
		</tr>
		
		<tr>
			<td>Adept</td>
			<td><input type="radio" name="Adept" id="AdeptY"><label for="AdeptY">Yes</label></td>
			<td><input type="radio" name="Adept" id="AdeptN" checked><label for="AdeptN">No</label></td>
		</tr></table></form>
			</td>
		
			</table>
</div>
<br>
	<div id="buttoncontainer" align="center">
		<button class="button" onclick="roll()">roll</button>
		<button class="button" onclick="clearForms()">reset</button>
	</div>
	
	<div id="container3" align="center">
	<div id="output" align="left">
			<div id="result"></div>
	</div>
	<div id="cred">Copyright Souls Between 2019, All Rights Reserved.
</div></div>
	
	
	</div>
</body>
	<script src="activityroller.js"></script>
	<script src="js/ddmenu.js" type="text/javascript"></script>
    <script src="js/jquery.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="js/bootstrap.js"></script>
</html>
